
  body {
    background-color: #000; /* fundo preto */
    text-align: center;
    font-family: "Segoe UI", sans-serif;
    color: white; /* texto em branco para contrastar */
    margin: 0;
  }

  h1 {
    font-size: 50px;
    text-shadow: 2px 2px 6px purple;
    margin-top: 60px;
    color: white;
  }

  .container {
    margin-top: 80px;
  }

  .item {
    margin: 50px 0;
  }

  .item img {
    width: 80px;
    display: block;
    margin: 0 auto 10px;
  }

  p {
    font-size: 24px;
    color: #f8caff; /* lilás claro fica lindo no fundo preto */
  }